<% if para.errors.any? %>
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong><%= pluralize(para.errors.count, "error") %></strong> 
        <ul>
        <% para.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
        </ul>
        
    </div>
    
<% end %>
