<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <%=render 'user_info'%>


            <div class="card mt-4">
                <div class="card-body">
                    <div class="text-center">
                        <div class="d-inline-block mr-4">
                            <%= link_to "2", "#" %>
                            <span>following</span>
                        </div>
                        <div class="d-inline-block">
                            <%= link_to "2", "#" %>
                            <span>followers</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card mt-4">
                <div class="card-body">
                    <%= link_to "30 words learned", words_path , class: "btn btn-info btn-block no-border p-5"%>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="card">
                <div class="card-header">
                    <h4>Activity Feed</h4>
                </div>
                <div class="card-body">

                </div>
            </div>
        </div>
    </div>
</div>