<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <%=render 'user_info'%>
        </div>
        <div class="col-sm-8">
            <div class="card">
                <div class="card-header">
                    <h4>Followers</h4>
                </div>
                <div class="card-body">
                    <%=render 'user_with_following_button'%>
                    <div class="paginate text-center">
                        <%= will_paginate @users%>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>