<div class="container w-50">
    <div class="row my-4">
        <div class="col-sm-6">
            <h1>Title</h1>
        </div>
        <div class="col-sm-6 text-right">
            <h2><span class="text-warning">1</span> of 2</h2>
        </div>
    </div>
    
    
    <div class="card">
        <div class="card-body text-center">
            <h2 class="text-warning">word</h2>
            <%=button_to "choice1","#",class: "btn btn-outline-secondary w-100 my-2"%>
            <%=button_to "choice2","#",class: "btn btn-outline-secondary w-100 my-2"%>
            <%=button_to "choice3","#",class: "btn btn-outline-secondary w-100 my-2"%>
        </div>
    </div>
</div>