<div class="container">
  <div class="row">
    <div class="col-md-6">
        <img src="assets/1.jpg" class="w-100" alt="">
    </div>
    <div class="col-md-6">
        <div class="jumbotron">
            <h1 class="page-title text-center my-5 text-info">E-learning by Ren</h1>

            <div class="container">
                <p><em>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nemo vel tempore necessitatibus, itaque facilis minima impedit illo iste esse praesentium architecto, cum libero assumenda ipsa debitis laudantium consequatur veniam nisi eius fugiat neque perspiciatis odit eum. Tempora nesciunt eos repudiandae earum in pariatur ex obcaecati molestias distinctio, ipsam deserunt voluptate illum commodi fuga, expedita consequatur quidem! Asperiores provident magnam molestias dignissimos quibusdam. Animi vitae culpa eum. Impedit ratione quisquam eligendi nesciunt? Saepe harum illo blanditiis est veritatis nam ipsam quis dicta voluptates dolorum nostrum facilis, non voluptas possimus qui. Accusamus amet error dolore ullam recusandae itaque rerum, magni voluptates? Ipsa, enim maiores. Nemo quia a impedit libero praesentium commodi, deserunt cupiditate fugit, esse, qui eligendi doloribus vero ex dignissimos obcaecati.</em></p>
            </div>
        </div>
        
        </div>
    </div>
  </div>
</div>
