<div class="container">
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-sm-6">
                    <span>Admin | Categories</span>
                </div>
                <div class="col-sm-6 text-right">
                    <%= link_to "Add Category","#",class: "btn btn-sm btn-success"%>
                </div>
            </div>
        </div>
        <table class="table">
            <tr>
                <th class="col-xs-3">Title</th>
                <th class="col-xs-5">Description</th>
                <th class="col-xs-1 text-center">Words</th>
                <th class="col-xs-2">Action</th>
            </tr>
        </table>
    </div>
</div>
